*{
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/*This section is focus on styling the the first div the blue one*/
.box-one{
    flex: 1;
    background-color: #1F2937;
    padding-left: 2px;
}
/*Styling the the nav*/
.nav{
    display: flex;
    width: 80vw;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
.nav .logo{
    font-size: 25px;
}
.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
}
/*Styling the second section of the first div the blue div*/
.intro-div{
    display: flex;
    width: 80vw;
    margin: auto;
    margin-top: 15px;
    gap: 10px
}
.intro-div  div, .intro-div figure{
    width: 50%;
    min-height: 300px;
    padding: 30px 10px;
    
    
}

.intro-div figure img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.intro-div figure figcaption {
    text-align: center;
    color: goldenrod;
    font-size: larger;
}
.intro-div div .intro{
    color: #F9FAF8;
    margin-bottom: 1rem;
    font-size: 45px;
    font-weight: 900;

}
.intro-div div .intro-2{
    color: #E5E7EB;
    font-size: 18px;
}
.intro-div div button{
    display: block;
    margin-top: 10px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 2px 20px;
    border: none;
}
.intro-div div button:hover{
    background-color: green;
    border: 2px solid white;
    transition: background-color 1s;
    color: black;
}

/*Styling second section of the body*/
.box-two{
    flex: 1;
    background-color: white;
    text-align: center;
    padding-top: 10px;
}
.box-two .info{
    font-size: 25px;
    font-weight: 900;
}
.box-two .image-box {
    width: 85vw;
    display: flex;
    margin: auto;
    gap: 15px;
    margin-top: 15px;
    padding: 30px;
    
}
.box-two .image-box .images{
    flex: 1;

}
.box-two .image-box .images img{
    width: 100%;
    height: auto;
    border-radius: 10px;

}
/*Styling the third section of the page, the grey box*/
.box-three{
    flex: 1;
    background-color: rgb(228, 230, 234);
    padding: 30px;
    
}
.box-three p{
    padding: 40px;
    text-align: center;
    font-style: italic;
}

/*Styling the fourth section of the page*/
.box-four{
    width: 100%;
    flex: 1;
    background-color: white;
    padding: 10px;
   
}
.box-four .text{
    width: 70%;
    margin: auto;
    display: flex;
    background-color: #3882F6;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    
}
.box-four .text div{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.box-four .text div .first{
    margin-bottom: 5px;
}
.box-four .text div button{
    display: block;
    background-color: #3882F6;
    padding: 2px 20px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;

}
.box-four .text div button:hover{
    color: black;
    transition: color 2s;
}
/*Last section of the page/footer section*/
.box-five{
    text-align: center;
    padding: 20px;
    background-color: #1F2937;
    color: white;
}
@media (max-width: 500px){
    .intro-div div .intro{
        font-size: larger;
    }
    
.intro-div div .intro-2{
    color: #E5E7EB;
    font-size: 12px;
}

}
button:hover{
    cursor: pointer;
}


